%h1 Listing orders

%table.table-striped
  %thead
    %tr
      %th Ім'я замовника
      %th Телефон
      %th Адреса
      %th Відділ нової почти та коментарі
      %th
      %th
      %th
      
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.phone
        %td= order.city
        %td= order.description
        %td= link_to 'show', admin_order_path(order)
        %td= link_to 'Destroy', admin_order_path(order), :method => :delete, :data => { :confirm => 'Are you sure?' }

