%h1 Listing orders

%table
  %thead
    %tr
      %th Name
      %th Phone
      %th City
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.phone
        %td= order.city
        %td= order.description
        %td= link_to 'show', admin_order_path(order)
        %td= link_to 'Edit', edit_admin_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_admin_order_path
