.container_12
  .grid_12
    .wrapper
      .grid_8.alpha
        %h2 Замовлення
        %p.marTop9
          Nulla facilisis at vero eros et accumsan etusto odio dignissim quimen blandit praesen luptatum zril delenit augue duis dolore teun feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
          %br/
          = succeed "Shipping" do
            %br/
        = simple_form_for :order, url: '/order', html: { id: 'contact-form' } do |f|
          .success-message Form submitted!
          .wrapper
            .grid_4.alpha
              %label.name
                = f.input :name, placeholder: 'ПІБ*:', label: false, required: true
              %label.phone
                = f.input :phone, placeholder: 'Телефон*:', label: false
              %label.city
                = f.input :city, placeholder: 'Місто*:', label: false
            .grid_4.omega
              %label.desciption
                = f.input :description, as: :text, placeholder:  'Bідділ "Нової почти" та коментарі:', label: false
            .clear
            %table.table-1
              %tbody
                %tr.t-header
                  %th.col-ord-1
                    .row
                      .span4
                        Продукт
                      .span1
                        %p.text-right
                          Кількість
                  %th.col-ord-2 Ціна
                - @cart.each_with_index do |p, i|
                  %tr
                    %td.col-ord-1
                      %strong
                        = p[:name]
                      %br
                      - p[:options].each_with_index do |o, ii|
                        %tr
                          %td.col-ord-1
                            .row
                              .span4
                                = "Об'єм: #{o['volume']}," if o['volume']
                                = "Маса: #{o['mass']}," if o['mass']
                                = "Кількість: #{o['amount']}," if o['amount']
                                = "Упаковка: #{o['packing'].mb_chars.downcase}" if o['packing']
                              .span1
                                %p.text-right
                                  = o['count']
                                %td.col-ord-2
                                  = o['price']
                %tr
                  %th.col-ord-1
                    Всього:
                  %td.col-ord-2
                    %strong
                      = @cart_price

          .form_btns
            = link_to "Очистити кошик", clear_cart_path, class: 'more_btn2'
            %button{type: 'button', class: 'more_btn2', id: 'submit-button'}
              Замовити

      .grid_4.omega
        %h2 Доставка
        %img.img5{:alt => "", :src => "assets/page5_pic1.jpg"}/
        %h3
          %a{:href => "#"} Vestibulum iaculis
        %p Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan etIusto odio dignissim.
        %h3
          %a{:href => "#"} Lorem ipsum dolor sit
        %p
          Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conseq.
          %br/
          = succeed "Vel" do
            %br/
    .indent1
