- @order.each_with_index do |p, i|
  = link_to "Remove", rm_from_cart_path(product_id: i)
  = p['name']
  %strong
    = i
  %br
  - p['options'].each_with_index do |o, ii|
    - o.each do |k,v|
      = "#{k}: #{v}"
      %br
    %br
    = link_to "rmOption", rm_option_path(product_id: i, opiton_id: ii)
  %br
- session[:cart].each_with_index do |c, i|
  = c
  %br
  = i
  %br
  %br
  


  



