= simple_nested_form_for [:admin, @product] do |f|
  = f.error_notification
  = f.input :name
  = f.input :main
  = f.input :category
  = f.input :active
  %br
  #options
    = f.simple_fields_for :options do |option|
      = render 'option_fields', f: option
    .links
      //= link_to_add_association 'add', f, :options, class: 'add'  
      = f.link_to_add 'Add_option', :options, :data => {:target => '#options'}
  = f.submit
