%p#notice= notice
= @product.name
- @product[:options].each_with_index do |p, i|
  %br
  %br
  = "Option ##{i}"
  %br
  Price:
  = p[:price]
  %br
  Volume:
  = p[:volume]
  %br
  Amount:
  = p[:amount]
  %br
  Mass:
  = p[:mass]
  %br
  Packing:
  = p[:packing]
%br

= link_to 'Edit', edit_admin_product_path(@product)
\|
= link_to 'Back', admin_products_path
