.container_12
  .grid_12
    .wrapper
      %h2
        %img.img2.no_resize{:alt => "", :src => "/assets/cell_sign.png"}/
        = @category.try(:name)
        - div_class = Proc.new do |i|
          - if i == 0
            - 'alpha'
          - else 
            - 'omega'
      - @products.each_with_index do |products, i|
        .grid_3{class: "#{div_class.call(i)}"}
          .wrapp.maxheight{:style => "height: 247px;"}
            .box_inner
              = link_to show_path(products), class: 'img_project' do
                %img{:alt => "", :src => "/assets/page1_pic1.jpg"}/
                %span.price_sign
                  = price(products)
                  %h5
                  = link_to products.name, show_path(products)            
                  %br
                  %br
 
