!!!
%html
  %head
    %title Бджолина хата
    = stylesheet_link_tag    'admin/admin_css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin/admin_js', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg.html_safe#, id: "flash_#{name}", class: "alert alert-#{name}"

    = yield
