!!!
%html
  %head
    %title Бджолина хата
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg.html_safe#, id: "flash_#{name}", class: "alert alert-#{name}"
    / button back top
    #back-top TOP
    %header
      .container_12
        .grid_12.txt_cntr
          .white_bg
            %h1
              %a{:href => "/"}
                %img{:alt => "Honey", :src => "/assets/logo.png"}/
            %nav
              %ul.sf-menu.sf-js-enabled
                %li.current
                  = link_to "Кошик", cart_path
                %li
                  %a.sf-with-ul
                    %span>
                      = link_to "Продукція", products_path 
                    %strong
                    %span.sf-sub-indicator
                  %ul.submenu{:style => "display: none; visibility: hidden;"}
                    %li
                      %a{:href => "#"} Інвентар та обладнання
                    %li.sub-menu
                      %a.sf-with-ul{:href => "#"}
                        Бджолопродукція
                        %span.sf-sub-indicator
                      %ul.submenu2{:style => "display: none; visibility: hidden;"}
                        %li
                          %a{:href => "#"} Latest
                        %li
                          %a{:href => "#"} Archive
                %li
                  %a.sf-with-ul
                    %span
                      Категорії
                    %strong
                    %span.sf-sub-indicator
                  %ul.submenu{:style => "display: none; visibility: hidden;"}
                    - @categories = Category.all.to_a
                    - @categories.each do |c|
                      %li
                      = link_to c.name, category_show_path(c)  
                %li
                  %a{:href => "index-3.html"}
                    Gallery
                    %strong
                %li
                  %a{:href => "index-4.html"}
                    Ordering
                    %strong
                %li#last-li
                  %a{:href => "index-5.html"}
                    Contacts
                    %strong
                %li      
                %div
                  -if user_signed_in?
                    Welcome #{current_user.email}#{link_to "Sign out", destroy_user_session_path, :method => :delete}
    .main
      .div-content
        = yield

        / =======footer=================================
        %footer
          .container_12
            .grid_12
              .main-footer
                %h1
                  %a{:href => "index.html"}
                    %img{:alt => "Honey", :src => "/assets/logo_footer.png"}/
                %p.priv_txt
                  ©
                  %span#copyright-year 2015
                  |
                  %a{:href => "index-6.html"} Privacy policy
                  %br/
                  / {%FOOTER_LINK}
                .clear
    :javascript
      $(document).ready(function(){
      
                          jQuery('#camera_wrap').camera({
                                  loader: false,
                                  pagination: true,
                                  thumbnails: false,
                                  height: '43.624494142%',
                                  fx: 'curtainSliceRight',
                                  rows: '1',
                                  slicedCols: '5',
                                  slicedRows: '1',
                                  caption: false
                          });
      
           });
                  
                  
                  $(document).ready(function(){
                          // Initialize the gallery
                          $('.magnifier2').touchTouch();
                  });
      
                  function myFocus(element){
                 if (element.value == element.defaultValue){
                     element.focus();
                     element.value = '';
                 }
              }
              function myBlur(element){
                 if (element.value == ''){
                     element.blur();
                     element.value = element.defaultValue;
                 }
              }
    #galleryOverlay{:style => "display: none;"}
      #gallerySlider
      %a#prevArrow
      %a#nextArrow
