!!!
%html
  %head
    %title HstoreApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = session[:cart]
    %br
    %br
    = link_to "Clear cart", clear_cart_path
    = link_to "remove", rm_from_cart_path
    %br
    = link_to "My cart", cart_path
    %br
    %br
    %br  
    %hr
    = yield
